<div xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td class="align-center justify-center" style="padding-right: 40px;">
                    <div class="header">
                        <div class="content">
                            <a target="_blank">
                                <img src="https://fleetmarkethub.com/_next/static/media/logo.32775a42.png"
                                     alt="Fleet Market Hub Logo"
                                     width="150"
                                     loading="eager"
                                     draggable="false"
                                     style="pointer-events: none; user-select: none;" />
                            </a>
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </th:block>
</div>
